* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    color: var(--clr-white);
}
:root {
    /*--COLORS--*/
    --clr-primary: #E84855;
    --clr-secondary: #6c91c2;
    --clr-accent: #7dcd85;
    --clr-bg: #14281D;
    --clr-black: #071013;
    --clr-white: #ede3e4;
    --clr-cookie-dark: #4d1607;
    --clr-cookie-light: #DCAA6A;
    /*--PADDING--*/
    --padd-UI-global: 1rem;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--clr-black);
    color: var(--clr-white);
    max-width: 100vw;
    font-size: 16px;
}
/*---HEADER---*/
header {
    width: 100%;
    padding: var(--padd-UI-global);
    background-color: var(--clr-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;

}
header>.page-title {
    color: var(--clr-cookie-light);
    text-transform: uppercase;
    font-size: 2rem;
}
header>.social-tags {
    justify-content: center;
    align-content: center;
}
.social-tags>a {
    padding: .125rem .5rem;
    color: var(--clr-cookie-light);
    background-color: var(--clr-cookie-dark);
    border-radius: .125rem;
}
.social-tags>a:hover {
    color: var(--clr-cookie-dark);
    background-color: var(--clr-cookie-light);
}
/*---NAV---*/
.global-nav {
    background-color: var(--clr-bg);
    display: flex;
    justify-content: flex-end;
    padding: var(--padd-UI-global);
}
.global-nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
}
.global-nav-link {
    display: block;
    font-size: 2rem;
    padding: .2rem .5rem;
    text-transform: uppercase;
    color: var(--clr-primary);
}
.global-nav-link:hover {
    color: var(--clr-accent);
}
.global-nav-link:active,
.active {
    text-decoration: underline;
    text-decoration-color: var(--clr-secondary);
}
.active:hover {
    color: var(--clr-primary);
}
/*---GAME---*/
section {
    padding: var(--padd-UI-global);
}
.game-element-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 0px;
    /* height: 50vh; */

}
.game-element-grid h3{
    text-transform: uppercase;
    padding: .25rem;
    color: var(--clr-cookie-light);
}
.game-element-grid .game,
.game-element-grid .game-stats,
.game-element-grid .game-upgrade-status,
.game-element-grid .game-upgrade-shop {
    background-color: var(--clr-bg);
    margin: .25rem;
    padding: var(--padd-UI-global);
    border-radius: calc(var(--padd-UI-global)/2);
}
.game-element-grid .game {
    grid-area: 1 / 1 / 4 / 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 8px;
    text-align: center;
}
.game-element-grid .game .buffs{
    grid-area: 1 / 1 / 2 / 2;
    height: 10%;
}
.game-element-grid .game .debuffs{
    grid-area: 1 / 3 / 2 / 4;
    height: 10%;
}
.game-element-grid .game .cookie{
    grid-area: 2 / 1 / 4 / 4;
    height: 100%;
    user-select: none;
}
.game-element-grid .game .cookie img{
   max-width: 100%;
   max-height: 100%; 
   height: 20rem;
   aspect-ratio: 1/1;
   cursor: pointer;

}
.game-element-grid .game .bonus-active{
    grid-area: 4 / 1 / 4 / 2;
    height: 10%;

}
.game-element-grid .game .bonus-passive{
    grid-area: 4 / 2 / 4 / 3;
    height: 10%;
}
.game-element-grid .game .staff{
    grid-area: 4 / 3 / 4 / 4;
    height: 10%;
}
/*Stats panel*/
.game-element-grid .game-stats {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.game-element-grid .game-stats .game-stats-section h3{
    margin-bottom: .5rem;
}
/*Upgrade levels & shop*/
.game-element-grid .game-upgrade-status {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.upgrade-status-container{
    display: flex;
    justify-content: space-between;
}
.status-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.status-item img{
    height: 5rem;
    aspect-ratio: 1/1;
}
.game-element-grid .game-upgrade-shop {
    grid-area: 3 / 2 / 4 / 3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.shop-item-container{
    display: flex;
    justify-content: space-between;
}
.shop-item{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.shop-item img{
    height: 5rem;
    aspect-ratio: 1/1;
    cursor: pointer;
}


/*---FOOTER---*/
footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    background-color: var(--clr-bg);
    padding: var(--padd-UI-global);
    position: sticky;
    bottom: 0;
}

footer p {
    color: var(--clr-cookie-light);
}